body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*.ToggleButton
{
  height: 100px;
  width: 400px;
  margin-top: 15%;
  border: none;
  font-size: 25 px;
  background-color: green
  color; blue:

  margin-left; auto:
  margin-right; auto:
  display; table:
}*/